<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <form method="POST" class="form-inline">
            {% csrf_token %}
        
            <div class="col-xl-6 col-md-6 mb-6">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    <div class="alert">
                                        <b> Confirm Deactivate  {{ obj.name }} </b> ?
                                    </div>
                                <button type="button" id="btnDeactivate" class="btn btn-danger"> <i class="far fa-question-circle"></i>Yes, Deactivate</button>
                                
                                <button class="btn btn-success" type="button" onclick="return close_modal()">Cancel</button>
                            </div>
                            <div class="col-auto">
                                <i class="far fa-question-circle fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script>

$(document).ready(function() {
    var token = $('input[name=csrfmiddlewaretoken]').val();

    $.ajaxSetup({
        beforeSend: function(xhr, settings){
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                xhr.setRequestHeader("X-CSRFToken", token);
            }

        }
    });
    
    $("#btnDeactivate").click(function(e){
        e.preventDefault();

        var id = {{ obj.id }};
        var template="{% url 'purchase:deactivate_provider' obj.id %}";
        //template += id;
        var data={"id":id};
        data = JSON.stringify(data);

        $.ajax({
            type: "POST",
            url: template,
            data: data,
            beforeSend(xhr, settings){
                $.ajaxSettings.beforeSend(xhr, settings)
            },

            success: function(response){
                console.log(response)
                close_modal();
                //alert(response)
                const type=(response.startsWith('Provider does not exist') ? 'red' : 'green');
                message(response, type );
            },
            error: function(jqXHR, tetxStatus, errorThrow){
                console.log(tetxStatus, errorThrow)
                message(errorThrow,'green' );
                close_modal();
            }
        }) 
            


        });
    });
    
</script>