{% extends 'base/home.html' %}

{% block page_content %}


    <!-- Dropdown Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Product List</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Actions:</div>
                    <!-- <a class="dropdown-item" href="{% url 'inv:new_product' %}"><i class='far fa-calendar-plus'></i> New </a> -->
                    <a class="dropdown-item" onclick=" return open_modal('{% url 'inv:new_product' %}')" href="#"><i class='far fa-calendar-plus'></i> New </a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            {% if not obj %}
                <div class=" alert alert-info"> There are no Products to Display</div>
            {% else %}    
                <table class="table table-active table-hover"> 
                    <thead>
                    <th>Code</th>
                    <th>Bar Code</th>
                    <th>Description</th>
                    <th>Active</th>
                    <th>Price</th>
                    <th>In Stock</th>
                    <th>Last Purchased</th>
                    <th>Brand</th>
                    <th>Subcategory</th>
                    <th>Unit</th>
                    <th class="all">Actions</th>
                    </thead>
                
                    <tbody>
                        {% for item in obj %}
                        </tr>
                            <td>{{ item.code }}</td>
                            <td>{{ item.bar_code }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.is_active|yesno:"Yes,No" }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.in_stock }}</td>
                            <td>{{ item.last_purchased }}</td>
                            <td>{{ item.brand }}</td>
                            <td>{{ item.subcategory }}</td>
                            <td>{{ item.unit }}</td>
                            <td >
                                <a href="{% url 'inv:edit_unit' item.id %}" class="btn btn-warning btn-circle" role="button"><i class="far fa-edit"></i> </a>
                                <a href="{% url 'inv:deactivate_unit' item.id %}" class="btn btn-danger btn-circle" role="button"><i class="far fa-thumbs-down"></i> </a>
                            </td>
                        <tr>
                        {% endfor %}
                    </tbody>
                </table>
            <!-- {% endif %} -->
        </div>
    </div>

                           

{% endblock %}

{% block js_page %}
<script>
$(document).ready(function() {
    $('.table').DataTable();
});

</script>

{% endblock %}