<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if obj %}
        <!-- <form method="POST" role='form' action="{% url 'inv:edit_product' %} " class="form-inline"> -->
                 
        {% else %}
        <form method="POST" role='form' action="{% url 'inv:new_product' %} " class="form-inline">       
        {% endif %}
            {% csrf_token %}
            <div class="col-xl-12 col-md-12 mb-12">
        
                {% if obj %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    {% if obj %} Edit  {% else %} New  {% endif %} Product</div>
                                </div>
        
                                
                                    {{" "}}   
                                        {{ form.as_p }}
                                </div>
                                
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-danger" ><span class="fa fa-save">Save</span></button> 
                                        &nbsp;&nbsp; {{" "}}
                                        <!-- <a href="{% url 'inv:product_list' %}" class="btn btn-success"><span class="fa fa-undo">Cancel</span></a> -->
                                        <button class="btn btn-success" type="button" onclick="return close_modal()">Cancel</button>
        
                                    </div>
                                </div>     
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
                        
